/* 验证码外框 */
#img-idcode-random {
    margin-top: 27px;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 15px;
    font-size: 18px;
    cursor: pointer;
}

/* 用户名错误信息 */
.register-error {
    padding-top:7px;
    color:red;
}

