<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maifeel</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Maifeel</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            技术 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Python</a></li>
                            <li class="divider"></li>
                            <li><a href="#">测试</a></li>
                            <li class="divider"></li>
                            <li><a href="#">运维</a></li>
                            <li class="divider"></li>
                            <li><a href="#">数据挖掘</a></li>
                            <li class="divider"></li>
                            <li><a href="#">人工智能</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Java</a></li>
                            <li class="divider"></li>
                            <li><a href="#">前端</a></li>
                        </ul>
                    </li>
                    <li><a href="#">生活</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#login-form"><span class="glyphicon glyphicon-log-in"></span>
                            登录</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#register-form"><span class="glyphicon glyphicon-user"></span>
                            注册</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 登录表单 -->
    <div class="modal fade" id="login-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">关闭登录</span></button>
                    <h4 class="modal-title">登录</h4>
                </div>
                <form action="127.0.0.1:5000/login">
                    <div class="modal-body">
                        <div class="form-group  has-success">
                            <label for="" class="control-label">用户名:</label>
                            <input type="text" class="form-control" placeholder="用户名/手机号/邮箱">
                        </div>
                        <div class="form-group  has-success">
                            <label for="" class="control-label">密码:</label>
                            <input type="password" class="form-control" placeholder="输入密码">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#register-form">
                            注册
                        </button>
                        <button type="submit" class="btn btn-info">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 注册表单 -->
    <div class="modal fade" id="register-form">
        <div class="modal-dialog">
            <!-- 模态框 -->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">关闭注册</span></button>
                    <h4 class="modal-title">注册</h4>
                </div>
                
                <form action="127.0.0.1:5000/register" class="">
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-6">
                                <!-- 用户名 -->
                                <div class="form-group has-feedback">
                                    <label for="username">用户名</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input id="username" class="form-control" placeholder="请输入用户名" maxlength="20" type="text">
                                    </div>
        
                                    <span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
                                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
        
                                <!-- 密码 -->
                                <div class="form-group has-feedback">
                                    <label for="password">密码</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input id="password" class="form-control" placeholder="请输入密码" maxlength="20" type="password">
                                    </div>
                    
                                    <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                    
                                <div class="form-group has-feedback">
                                    <label for="confirm-password">确认密码</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input id="confirm-password" class="form-control" placeholder="请再次输入密码" maxlength="20" type="password">
                                    </div>
        
                                    <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
        
                                <!-- 验证码 -->
                                <div class="row">
                                    <div class="col-xs-7">
                                        <div class="form-group has-feedback">
                                            <label for="img-idcode">验证码</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                                                <input id="img-idcode" class="form-control" placeholder="请输入验证码" maxlength="4" type="text">
                                            </div>
        
                                            <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                            <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-5" style="padding-top: 32px">
                                        <div id="idcode" style="background: transparent;">1232</div>
                                    </div>
                                </div>
        
                                <!-- 手机号 -->
                                <div class="form-group has-feedback">
                                    <label for="phone-num">手机号码</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                        <input id="phone-num" class="form-control" placeholder="请输入手机号码" maxlength="11" type="text">
                                    </div>
        
                                    <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                    <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
        
                                <!-- 手机校验码 -->
                                <div class="row">
                                    <div class="col-xs-7">
                                        <div class="form-group has-feedback">
                                            <label for="phone-idcode">校验码</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                                                <input id="phone-idcode" class="form-control" placeholder="请输入校验码" maxlength="6" type="text">
                                            </div>
        
                                            <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                            <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                        </div>
                                    </div>
        
                                    <div class="col-xs-5 text-center" style="padding-top: 25px">
                                        <button type="button" id="loading" class="btn btn-primary" autocomplete="off">获取短信校验码</button>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#login-form">登录</button>
                        <button type="submit" class="btn btn-info">注册</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
    <p>asdasdfasdf</p>
</body>
</html>